body {
  background-color: black;
  color: white;
  font-size: 12pt;
  padding: 1em;
  font-family: Verdana, sans-serif;
}

#unsupported {
  border: 1px solid yellow;
  color: black;
  background-color: #ffffad;
  padding: 2em;
  margin: 1em;
  display: inline-block;
}

#sidebar {
  width: 20em;
  /* height: 40em; */
  margin-right: 20px;
  float: left;
  font-size: 0.825em;
  background-color: #333;
  border-radius: 10px;
  padding: 1em;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
#sidebar h2 {
  color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
  margin: 0;
}
#sidebar .parts {
  padding-left: 1em;
  list-style-type: none;
  margin-bottom: 2em;
  text-align: right;
}
#sidebar .parts li a {
  color: white;
  text-decoration: none;
}
#sidebar .parts li a:visited {
  color: white;
}
#sidebar .parts li a:hover {
  color: white;
  text-decoration: underline;
}
#sidebar .parts li a.selected {
  color: #f08010;
}
#sidebar .parts li a i {
  color: #aaa;
}
#sidebar .parts li a.selected i {
  color: #f08010;
}
#sidebar .settings {
  line-height: 1.2em;
  height: 1.2em;
  text-align: right;
}
#sidebar .settings.size {
}
#sidebar .settings.speed {
  margin-bottom: 1em;
}
#sidebar .settings label {
  vertical-align: middle;
}
#sidebar .settings input {
  vertical-align: middle;
}
#sidebar .settings select {
  vertical-align: middle;
}
#sidebar .description {
  margin-bottom: 2em;
}
#sidebar .description b {
  font-weight: normal;
  color: #fff;
}

/* CSS */
.button-19 {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 40px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 40px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.btn-red {
  background-color: #f61c1c;
}

.btn-red:after {
  background-color: #ff2f2f;
}

@media screen and (min-width: 0px) {
  #sidebar {
    display: none;
  }
  #game {
    display: block;
    width: 480px;
    height: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 800px) {
  #game {
    width: 640px;
    height: 480px;
  }
}

@media screen and (min-width: 1000px) {
  #sidebar {
    display: block;
  }
  #game {
    margin-left: 18em;
  }
}

@media screen and (min-width: 1200px) {
  #game {
    width: 800px;
    height: 600px;
  }
}

@media screen and (min-width: 1600px) {
  #game {
    width: 1024px;
    height: 768px;
  }
}
